<div class="container col-md-6" style="margin-top:30px">
    <h3>Product Details</h3>
    <hr>
    <form #productForm="ngForm" novalidate class="form" (ngSubmit)="addProduct()">
        <div class="row">
            <div class="col-sm-3">
                <label class="form-label">SKU</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="sku" name="sku" [(ngModel)]="product.sku"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Name</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Description</label>
            </div>
            <div class="col-sm-6">
                <textarea name="description" class="form-control" rows="4" cols="50" id="description" name="description" [(ngModel)]="product.description"></textarea>        
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Image URL</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="product.imageUrl"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Unit Price</label>
            </div>
            <div class="col-sm-6">
                <input type="number" min="0" class="form-control" id="unitPrice" name="unitPrice" [(ngModel)]="product.unitPrice"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Units In Stock</label>
            </div>
            <div class="col-sm-6">
                <input type="number" min="0" class="form-control" id="unitsInStock" name="unitsInStock" [(ngModel)]="product.unitsInStock"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Date Created</label>
            </div>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="dateCreated" name="dateCreated" [(ngModel)]="product.dateCreated"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Last Updated</label>
            </div>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="lastUpdated" name="lastUpdated" [(ngModel)]="product.lastUpdated"/>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Category</label>
            </div>
            <div class="col-sm-6">
                <select name="category" class="form-select" id="categoryId" name="categoryId" [(ngModel)]="product.categoryId">
                    <option selected>Select here</option>
                    <option value="1">Food & Beverages</option>
                    <option value="2">Electronics</option>
                    <option value="3">Fashion</option>
                </select>
            </div>
        </div>
        &nbsp;
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <input type="submit" value="Submit" name="submit" class="btn btn-primary">
            </div>
            <div class="col-sm-2">
                <input type="reset" value="Reset" name="reset" class="btn btn-secondary">
            </div>
        </div>
    </form>
</div>