<div class="container">
    <div class="row justify-content-center" style="margin:50px">
        <div class="col-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1216/1216995.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="productList">Product List</a>    
        </div>
        <div class="col-3 text-center">
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/add-product-4-837051.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="addProduct">Add New Product</a>    
        </div>
    </div>
    <div class="row justify-content-center" style="margin:50px">
        <div class="col-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/4901/4901662.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="categoryList">Category List</a>    
        </div>
        <div class="col-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/3843/3843517.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="addCategory">Add New Category</a>    
        </div>
    </div>
</div>